---
export const prerender = true;

import ExpandableQA from "../components/plans/ExpandableQA";
import Plan from "../components/plans/Plan.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";

const FREE_FEATURES = [
    ["Take all the notes you want", true],
    ["Premium, world-class editor", true],
    ["Mobile and Desktop sign in", true],
    ["Note summarization", false],
    ["One-click study guides", false],
    ["Autonote", false],
    ["Note quizzes", false],
    ["Share with others who have Noter", false],
    ["Public note links (view only)", false],
    ["Get 3 months free", false]
];

const MONTHLY_FEATURES = [
    ["Take all the notes you want", true],
    ["Premium, world-class editor", true],
    ["Mobile and Desktop sign in", true],
    ["Note summarization", true],
    ["One-click study guides", true],
    ["Autonote", true],
    ["Note quizzes", true],
    ["Share with others who have Noter", true],
    ["Public note links (view only)", true],
    ["Get 3 months free", false]
];

const ANNUAL_FEATURES = FREE_FEATURES.map((entry) => [entry[0], true]);
---

<CenteredLayout title="Plans">
    <h1>Plans</h1>

    <div class="plans">
        <Plan id={1} title="Noter Free" price="Free" unit={null} features={FREE_FEATURES} freeTrialIncluded={false} />
        <Plan id={2} title="Noter Monthly" price="$6" unit="per month" features={MONTHLY_FEATURES} freeTrialIncluded={false} />
        <Plan id={2} title="Noter Annually" price="$54" unit="per year" features={ANNUAL_FEATURES} freeTrialIncluded={true} />
    </div>

    <div class="faq">
        <h1>Frequently Asked Questions</h1>

        <ExpandableQA question="How does the Free Trial work? How long is it?" answer="The free trial lasts 7 days from the day you start the trial. If you have not canceled the trial by the time it is up, your billing cycle begins at the end of the trial, and we will bill you. You may have only one free trial." client:load />
        <ExpandableQA question="What is Autonote?" answer="Autonote takes your notes for you by using your microphone to record a lecture. Then, the lecture is sent to our AI which creates a full, detailed note document with images and everything else for you. The recording is saved with the note." client:load />
        <ExpandableQA question="How does note sharing work?" answer="Free users cannot share notes with anyone else. Premium users can share notes with other Noter users only and share notes with a public, view only link." client:load />
        <ExpandableQA question="What is Stripe?" answer="Stripe is our third party payments processor." client:load />
        <ExpandableQA question="Do you sell personal information?" answer="No. We will never share your personally identifiable information with anyone." client:load />
        <ExpandableQA question="Are purchases refundable?" answer="No." client:load />
        <ExpandableQA question="Can I refer my friends?" answer="Of course! We will give you a free month of Noter for every 2 friends that purchase (the Free plan is not eligible) Noter using your code." client:load />
    </div>


</CenteredLayout>

<style>
    h1 {
        text-align: center;
        font-size: 3em;
    }

    .plans {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .faq {
        margin-bottom: 4rem;
    }
</style>